<h1 class="text-center">My Book-King identity</h1>
<div class="row">
  <div class="offset-lg-3 col-lg-6">
    <div class="card-identity">
      <div class="element text-success position-absolute corner-left"><i class="fas fa-money-bill-wave mr-3"></i><span class="text-32"><%= humanized_money_with_symbol(@buyer.account_money) %></span></div>
      <div class="actions">
        <% if policy(@buyer).update?  %>
          <%= link_to edit_profile_path(@buyer), class: "mr-1" do %>
          <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <%= image_tag "avatar.png", class: "avatar-large" %>
      <div class="element text-32 orange-text"><%= @buyer.name %></div>
      <div class="row w-100">
        <div class="col-lg-6">
          <div class="element"><i class="fas fa-envelope-open-text mr-3"></i><%= @buyer.email %></div>
          <div class="element"><i class="fas fa-book-open mr-3"></i><%= @buyer.cart_elements_paid.count %></div>
        </div>
        <div class="col-lg-6">
          <div class="element"><i class="fas fa-home mr-3"></i><%= @buyer.address %></div>
          <div class="element"><i class="fas fa-shopping-cart mr-3"></i><%= @buyer.notifs_counter %></div>
        </div>
      </div>
      <div class="footer my-1 py-1">Member since <%= @buyer.created_at.strftime("%m/%d/%Y") %></div>
    </div>
  </div>
</div>
<div class="container-wrap mt-5">
  <% current_buyer.books_paid.each do |book| %>
    <%= link_to book_path(book) do %>
      <div class="card-book" id="card-book-<%= book.id %>">
        <div class="cover">
          <div class="title px-2"><%= book.title %></div>
          <div class="footer">
            <div class="author"><%= book.author %></div>
            <div class="price"><%= humanized_money_with_symbol(book.price) %> </div> 
          </div>
        </div>
        <div class="page"></div>
        <div class="page page-2"></div>
        <div class="page page-3"></div>
        <div class="page page-4"></div>
        <div class="cover final-page">
          <div class="text"></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>