<div class="row">
  <div class="offset-md-2 col-md-8">
    <div class="form-book-king">
      <%= simple_form_for book do |f| %>
        <%= f.input :title, label: "Title" %>
        <%= f.input :description, as: :text, label: "Description" %>
        <%= f.input :author, label: "Author" %>
        <%= f.input :price, label: "Price", input_html: { value: f.object.price.to_f - Rails.application.config.x.fees["book-king-fees"] } %>
        <%= f.button :submit, class: "btn-orange-ext text-white", data: { disable_with: f.object.new_record? ? 'Creating...' : 'Updating...' } %>
      <% end %>
    </div> 
  </div>
</div>
  