<% if policy(@book).update?  %>
  <%= link_to edit_book_path(@book), class: "mx-auto" do %>
  <i class="fas fa-edit"></i>
  <% end %>
<% end %>
<% if policy(@book).destroy?  %>
  <%= link_to book_path(@book), class: "mx-auto", method: :delete do %>
    <i class="fas fa-trash"></i>
  <% end %>
<% end %>

<div class="card text-center" id="show-card-book-<%= @book.id %>">
  <div class="card-header">
    <%= @book.title %>(<%= humanized_money_with_symbol(@book.price) %>)
  </div>
  <div class="card-body">
    <p class="card-text"><%= @book.description %></p>
    <% if current_buyer  %>
      <%= simple_form_for @cart_element, method: :post, url: cart_elements_path, remote: true do |f| %>
        <%= render "render_form_new_cart_element" %>
      <% end %>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <%= @book.created_at.strftime("Published on %m/%d/%Y at %I:%M%p") %>
  </div>
</div>