<% if policy(@book).update?  %>
  <%= link_to edit_book_path(@book), class: "mx-auto" do %>
  <i class="fas fa-edit"></i>
  <% end %>
<% end %>
<% if policy(@book).destroy?  %>
  <%= link_to book_path(@book), class: "mx-auto", method: :delete do %>
    <i class="fas fa-trash"></i>
  <% end %>
<% end %>

<div class="scene">
  <div class="book-wrap">
    <div class="left-side">
      <div class="book-cover-left"></div>
      <div class="layer1">
        <div class="page-left"></div>
      </div>
      <div class="layer2">
        <div class="page-left"></div>
      </div>
      <div class="layer3">
        <div class="page-left"></div>
      </div>
      <div class="layer4">
        <div class="page-left"></div>
      </div>
      <div class="layer-text">
        <div class="page-left-2">
          <div class="corner"></div>
          <div class="corner2"></div>
          <div class="corner-fold"></div>
          <div class="page-text w-richtext">
            <h2><strong><%= @book.title %></strong></h2>
            <h4>BY <%= @book.author.upcase %></h4>
            <div class="f-flex">
              <p><%= @book.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center"></div>
    <div class="right-side">
      <div class="book-cover-right"></div>
      <div class="layer1">
        <div class="page-right"></div>
      </div>
      <div class="layer2 right">
        <div class="page-right"></div>
      </div>
      <div class="layer3 right">
        <div class="page-right"></div>
      </div>
      <div class="layer4 right">
        <div class="page-right"></div>
      </div>
      <div class="layer-text right">
        <div class="page-right-2">
          <div class="d-flex flex-column justify-content-between h-100">
            <div class="page-text w-richtext">
              <h2><strong>Sold By</strong></h2>
              <h4><%= @book.seller.name.upcase %></h4>
              <h5><%= @book.created_at.strftime("published on %m/%d/%Y") %></h5>
              <h6><%= @book.created_at.strftime("at %I:%M%p") %></h6>
            </div>
            <div class="d-flex justify-content-center button">
              <% if current_buyer  %>
                <%= simple_form_for @cart_element, method: :post, url: cart_elements_path, remote: true do |f| %>
                  <%= render "render_form_new_cart_element" %>
                <% end %>
              <% end %>
            </div>
            <div class="price-page d-flex ml-auto">
              <%= humanized_money_with_symbol(@book.price) %>
              <i class="ml-2 fas fa-barcode"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>