<% current_buyer.cart.cart_elements.each do |c_e| %>
  <div class="card-book" id="card-book-<%= c_e.book.id %>">
    <%= link_to cart_element_path(c_e), method: :delete, class:"delete-link", remote: true do %>
      <i class="far fa-trash-alt text-danger"></i>
    <% end %>
    <div class="cover">
      <div class="title px-2"><%= c_e.book.title %></div>
      <div class="footer">
        <div class="author"><%= c_e.book.author %></div>
        <div class="price"><%= humanized_money_with_symbol(c_e.book.price) %> </div> 
      </div>
    </div>
    <div class="page"></div>
    <div class="page page-2"></div>
    <div class="page page-3"></div>
    <div class="page page-4"></div>
    <div class="cover final-page">
      <div class="text"></div>
    </div>
  </div>
<% end %>